{% load i18n %}
{% load language_tags %}
<form method="post"
      action="{% url 'set_language' %}"
      class="flex items-center gap-2"
      data-turbo="false">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    {% get_current_language as current_language %}
    {% get_languages as languages %}
    <select id="language-select"
            name="language"
            class="select select-xs select-ghost w-full">
        {% for code, name in languages %}
            <option value="{{ code }}"
                    {% if current_language == code %}selected{% endif %}>{{ name }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-xs btn-ghost">{% trans "Switch" %}</button>
</form>
